.SpanBox {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.Box {
    display: flex;
    flex-wrap: wrap;
}

.Vertical {
    flex-direction: column;
}

.Horizontal {
    flex-direction: row;
}